* {
    margin: 0px;
}

main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(209, 15, 112);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

h1 {
    font-size: 2em;
}

#table{
    display: flex;
    font-weight: bold;
}

#table > div > p {
    display: flex;
    font-size: 5em;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    color: rgb(24, 190, 99);
    cursor: pointer;
}


#a2 {
    border: 10px black solid;
    border-left: 0px;
    border-right: 0px;
}

#b4 {
    border: 10px black solid;
    border-top: 0px;
}

#b5 {
    border: 10px black solid;
    border-top: 0px;
    border-bottom: 0px;
}

#b6 {
    border: 10px black solid;
    border-bottom: 0px;
}

#c8 {
    border: 10px black solid;
    border-left: 0px;
    border-right: 0pc;
}



#form > input {
    margin-right: 10px;
    background-color: black;
    color: white;
    border-radius: 7px;
}